<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>

<div class="row m-5">
    <div class="col">
        <div class="text-center mb-5">
            <h2>고객센터</h2>
        </div>
        <div class="text-end mb-4">
            <button class="btn btn-primary" onclick="inquiry_save()">문의하기</button>
        </div>
        <table class="table table-hover mb-3">
            <tr>
                <th>문의번호</th>
                <th>문의제목</th>
                <th>문의날짜</th>
                <th class="text-end">문의상태</th>
            </tr>
            <tr th:each="inquiry: ${inquiryList}" th:onclick="detail_fn([[${inquiry.id}]])">
                <td th:text="${inquiry.id}"></td>
                <td th:text="${inquiry.inquiryTitle}"></td>
                <td th:text="${inquiry.createdAt}"></td>
                <td class="text-end" th:if="${inquiry.inquiryStatus == 0}">대기중 &nbsp;<button class="btn btn-secondary"
                                                                                             th:onclick="inquiry_cancel_fn([[${inquiry.id}]])">
                    문의취소
                </button>
                </td>
                <td class="text-end" th:if="${inquiry.inquiryStatus == 1}">답변완료</td>
                <td class="text-end" th:if="${inquiry.inquiryStatus == 2}">문의취소</td>
            </tr>
        </table>
        <div class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <!--첫페이지 요청 링크 /board?page=1 -->
                    <a class="page-link" th:href="@{/csCenter/inquiry(page=1)}">
                        <span>First</span>
                    </a>
                </li>

                <li th:class="${inquiryList.first} ? 'disabled'" class="page-item">
                    <!--boardList.first: isFirst()
                        boardList.number: getNumber()-->
                    <a class="page-link"
                       th:href="${inquiryList.first} ? '#' : @{/csCenter/inquiry(page=${inquiryList.number})}">
                        <!-- 사용자 3페이지, number 2 /board?page=2 -->
                        <span><</span> <!-- < -->
                    </a>
                </li>

                <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할
                    for(int page=startPage; page<=endPage; page++) -->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="${page == inquiryList.number + 1} ? 'page-item active'" class="page-item">
                    <a class="page-link" th:text="${page}"
                       th:href="@{/csCenter/inquiry(page=${page})}"></a>
                </li>

                <!-- 다음 페이지 요청
                    현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
                    getNumber() 값은 2임.
                    따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
                <li th:class="${inquiryList.last} ? 'disabled'">
                    <a class="page-link"
                       th:href="${inquiryList.last} ? '#' : @{/csCenter/inquiry(page=${inquiryList.number + 2})}">
                        <!-- 사용자 3페이지, number 2 /board?page=4 -->
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/csCenter/inquiry(page=${inquiryList.totalPages})}">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">

    const detail_fn = (id) => {
        location.href = `/csCenter/inquiry/${id}`;
    }

    const inquiry_save = () => {
        location.href = "/csCenter/inquiry/save";
    }

    const inquiry_cancel_fn = (id) => {
        const page = [[${page}]];
        if (confirm("취소하시겠습니까?")) {
            axios({
                method: "put",
                url: `/csCenter/inquiry/${id}`
            }).then(res => {
                location.href = `/csCenter/inquiry`;
            }).catch(err => {
                alert("취소실패");
            });
        }
    }
</script>
</html>