<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>

<div class="row m-5 justify-content-center align-items-center" style="height:70vh">
    <div class="col-auto">
        <div>
            <div class="text-center">
                <div id="error-type" style="color: red">
                    <p th:if="${error== 'error1'}">등록되지 않은 아이디이거나 아이디 혹은 비밀번호를 잘못 입력했습니다..</p>
                </div>
                <form name="login-form" action="/member/login" method="post">
                    <input type="hidden" class="form-control mb-3" name="continued" th:value="${continued}">
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="display: inline-block; width: 100px">Email</span>
                        <input type="text" class="form-control" name="memberEmail" onkeyup="enterkey_press(this.name)">
                    </div>
                    <div class="input-group mb-3">
                        <sapn class="input-group-text" style="display: inline-block; width: 100px">비밀번호</sapn>
                        <input class="form-control" type="text" name="memberPassword" onkeyup="enterkey_press(this.name)">
                    </div>
                    <div>
                        <input type="button" class="btn btn-outline-info" value="login" onclick="login_fn()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const login_fn = () =>{
        const loginForm = document.querySelector("[name = 'login-form']");
        const loginEmail = document.querySelector("[name = 'memberEmail']");
        const loginPassword = document.querySelector("[name = 'memberPassword']").value;
        const errorType = document.getElementById("error-type")
        if(loginEmail.value == ''){
            errorType.innerHTML = `<p>아이디를 입력해주세요.</p>`
            loginEmail.focus();
        }else if (loginPassword == "") {
            errorType.innerHTML = `<p>비밀번호를 입력해주세요.</p>`
            loginEmail.focus();
        }else {
            loginForm.submit();
        }
    }

    const enterkey_press = (name) =>{
        if (window.event.keyCode == 13){
            if(name== "memberEmail"){
                $("input[name=memberPassword]").focus();
            }else if(name == "memberPassword"){
                login_fn();
            }
        }
    }
</script>

</html>