<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>

    <!-- 다음API 주소검색 -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">
        <div class="text-end mb-3">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registerAddress">
                &plus; 새 배송지 등록
            </button>
        </div>
        <hr>
        <h4 th:if="${addressList.size() == 0}">등록된 배송지가 없습니다.</h4>
        <div id="addressList">
            <div class="row justify-content-between px-4" th:each="address : ${addressList}">
                <div class="col">
                    <h6 th:text="${address.addressStatus == 1} ? |${address.addressName}(기본배송지)| : ${address.addressName}"></h6>
                    <h6 th:text="${address.postCode}"></h6>
                    <h6 th:text="${address.address} + ' ' + ${address.addressDetail}"></h6>
                </div>
                <div class="col text-end align-self-center">
                    <input type="radio" name="defaultAddress" th:value="${address.id}">
                </div>
                <hr>
            </div>
        </div>
        <div>
            <button class="btn btn-primary px-5" onclick="set_defaultAddress()">기본주송지 등록</button>
        </div>
    </div>
</div>

<div th:replace="~{memberPages/newAddress :: newAddress}"></div>

<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const save_address = () => {
        let addressName = document.getElementById("addressName").value;
        let address = document.getElementById("address").value;
        let addressDetail = document.getElementById("addressDetail").value;
        let postCode = document.getElementById("postCode").value;
        let defaultAddressChecked = document.getElementById("defaultAddress").checked;
        const memberEmail = [[${session.loginEmail}]]
        const addressList = document.getElementById("addressList")
        axios({
            method:"post",
            url:"/member/address",
            data:{
                addressName : addressName,
                address :address,
                addressDetail : addressDetail,
                postCode : postCode},
            params:{memberEmail, memberEmail,
                defaultAddressChecked : defaultAddressChecked},
        }).then(res => {
            addressList.innerHTML = "";
            res.data.forEach(data => {
                console.log(data)
                if(data.addressStatus == 1){
                    addressList.innerHTML +=
                        `<div class="row justify-content-between px-4">
                            <div class="col">
                                <h6>${data.addressName}(기본배송지)</h6>
                                <h6>${data.postCode}</h6>
                                <h6>${data.address} ${data.addressDetail}</h6>
                            </div>
                            <div class="col text-end align-self-center pe-4">
                                <input type="radio" name="defaultAddress" id="${data.id}">
                            </div>
                            <hr>
                        </div>`
                }else {
                    addressList.innerHTML +=
                        `<div class="row justify-content-between px-4">
                            <div class="col">
                                <h6>${data.addressName}</h6>
                                <h6>${data.postCode}</h6>
                                <h6>${data.address} ${data.addressDetail}</h6>
                            </div>
                            <div class="col text-end align-self-center pe-4">
                                <input type="radio" name="defaultAddress" id="${data.id}">
                            </div>
                            <hr>
                        </div>`
                }
            })
            addressName = "";
            address ="";
            addressDetail="";
            postCode="";
        }).catch(err => {

        })
    }

    const set_defaultAddress = () =>{
        const defaultCheck = document.querySelector("[name ='defaultAddress']")
        if(!defaultCheck.checked){
            alert("기본배송지로 등록될 주소를 선택해주세요")
        }else {
            console.log(defaultCheck.value)
/*            axios({
                method:"post",
                url:"",
                params:{id : defaultCheck.checked.id}
            }).then(res =>{

            }).catch(err =>{

            })*/
        }
    }
</script>
</html>