<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>

    <!-- 다음API 주소검색 -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <style>
        hr {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">
        <div class="text-end mb-3">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registerAddress">
                &plus; 새 배송지 등록
            </button>
        </div>
        <hr>
        <h4 th:if="${addressList.empty}">등록된 배송지가 없습니다.</h4>
        <div id="addressList" th:if="${!addressList.empty}">
            <div class="row justify-content-between px-4" th:each="address : ${addressList}">
                <div class="col-auto ms-3 text-center align-self-center">
                    <input type="radio" name="newDefaultAddress" th:value="${address.id}" th:checked="${address.addressStatus==1}">
                </div>
                <div class="col my-3">
                    <div>
                        <h6 th:text="${address.addressStatus == 1} ? |${address.addressName}(기본배송지)| : ${address.addressName}"></h6>
                        <h6 th:text="${address.postCode}"></h6>
                        <h6 th:text="${address.address} + ' ' + ${address.addressDetail}"></h6>
                    </div>
                </div>
                <div class="col-3 me-3 col-md-auto text-end align-self-center">
                    <button class="btn btn-sm btn-outline-secondary m-1">수정</button>
                    <button class="btn btn-sm btn-outline-secondary m-1" th:if="${address.addressStatus != 1}" th:onclick="delete_address_fn([[${address.id}]])">삭제</button>
                </div>
                <hr>
            </div>
        </div>
        <div class="my-3 text-center" th:if="${!addressList.empty}">
            <button class="btn btn-primary px-5" onclick="set_defaultAddress_fn()">기본주송지 등록</button>
        </div>

        <div id="paging" class="container" th:if="${!addressList.empty}">
            <ul class="pagination justify-content-center">
                <li th:class="${addressList.first}? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/member/address(page=1)}">&lt;&lt;</a>
                </li>
                <li th:class="${addressList.first}? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/member/address(page=${page}-1)}">&lt;</a>
                </li>
                <li th:each="pages : ${#numbers.sequence(startPage,endPage)}" th:class="${pages == addressList.number + 1}? 'page-item active'" class="page-item">
                    <a th:name="pages" th:if="${pages != addressList.number + 1}" class="page-link" th:href="@{/member/address(page=${pages})}" th:text="${pages}"></a>
                    <span th:name="pages" th:if="${pages == addressList.number + 1}" class="page-link" th:text="${pages}"></span>
                </li>
                <li th:class="${addressList.last}? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/member/address(page=${page}+1)}">&gt;</a>
                </li>
                <li th:class="${addressList.last}? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/member/address(page=${addressList.totalPages})}">&gt;&gt;</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div th:replace="~{memberPages/newAddress :: newAddress}"></div>

<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const save_address_fn = () => {
        let addressName = document.getElementById("addressName").value;
        let address = document.getElementById("address").value;
        let addressDetail = document.getElementById("addressDetail").value;
        let postCode = document.getElementById("postCode").value;
        let defaultAddressChecked = document.getElementById("defaultAddress").checked;
        axios({
            method:"post",
            url:"/member/address",
            data:{
                addressName : addressName,
                address :address,
                addressDetail : addressDetail,
                postCode : postCode},
            params:{defaultAddressChecked : defaultAddressChecked},
        }).then(res => {
            location.href = "/member/address"
        }).catch(err => {
            alert("저장에 실패했습니다.")
        })
    }

    const set_defaultAddress_fn = () =>{
        const defaultCheck = document.querySelector("input[name ='newDefaultAddress']:checked")
        const memberEmail = [[${session.loginEmail}]]
        const addressId = defaultCheck.value;
        if(defaultCheck==null){
            alert("기본배송지로 등록될 주소를 선택해주세요")
        }else {
            axios({
                method:"post",
                url:"/member/address/default",
                params:{addressId : addressId},
            }).then(res =>{
                location.href = "/member/address";
            }).catch(err =>{
                alert("배송지를 찾을 수 없습니다.")
            })
        }
    }

    const delete_address_fn = (addressId) =>{
        let nowPage = [[${addressList.number}]] +1;
        console.log(nowPage)
        if(confirm("선택한배송지를 삭제하시겠습니까?")){
            axios({
                method:"delete",
                url:"/member/address",
                params:{addressId : addressId},
            }).then(res =>{
                location.href = "/member/address?page="+nowPage;
            }).catch(err =>{
                alert("배송지를 찾을 수 없습니다.")
                console.log(err)
            })
        }
    }
</script>
</html>