<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>


<div class="container m-5">
    <div class="row">
        <div id="side-bar" class="col-3">
            <a href="/member/passCheck">회원정보 수정</a>
            <a href="/member/address">배송지등록</a>

        </div>
        <div id="contents" class="col">
            <p th:text="${member.memberName}"></p>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>