<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>

    <!-- 다음API 주소검색 -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>

<div th:fragment="newAddress" class="modal fade" id="registerAddress" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog p-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">배송지 등록</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-5">
                    <label for="addressName" class="form-label">배송지명</label>
                    <input type="text" class="form-control" id="addressName" name="addressName" placeholder="최대 10글자" onkeyup="saveButton_able()">
                </div>
                <div class="mb-3">
                    <input type="button" class="form-control btn btn-outline-primary mb-3" onclick="searchAddress()" value="주소 검색">
                    <input type="text" class="form-control mb-3" id="postCode" name="postCode" placeholder="우편번호" readonly>
                    <input type="text" class="form-control mb-3" id="address" name="address" placeholder="기본주소" readonly>
                    <input type="text" class="form-control mb-3" id="addressDetail" name="addressDetail" placeholder="상세주소" onkeyup="saveButton_able()">
                </div>
            </div>
            <hr>
            <div class="mb-3 text-center">
                <label class="form-check-label" for="defaultAddress">
                    기본 배송지로 설정
                </label>
                <input class="form-check-inline" type="checkbox" id="defaultAddress">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" id="addressSave" class="btn btn-primary" data-bs-dismiss="modal" onclick="save_address_fn()" disabled>저장</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const saveButton_able = () => {
            const addressName = document.getElementById("addressName").value;
            const address = document.getElementById("address").value;
            const addressDetail = document.getElementById("addressDetail").value;
            const postCode = document.getElementById("postCode").value;
            const addressSave = document.getElementById("addressSave")
            if(addressName!="" && address!="" && addressDetail!="" && postCode!=""){
                addressSave.removeAttribute("disabled")
            }
        }

        const searchAddress = () => {
            const address = document.getElementById("address")
            const postCode = document.getElementById("postCode")
            new daum.Postcode({
                oncomplete: function (data) {
                    postCode.value = data.zonecode;
                    if (data.buildingName != "") {
                        address.value = data.address + "(" + data.buildingName + ")";
                    } else {
                        address.value = data.address;
                    }
                    saveButton_able();
                }
            }).open();
        }
    </script>
</div>

</body>
</html>