<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>


<div class="row m-5">
    <div class="col">
        <div class="card p-5 my-3" th:each="order : ${orderList}">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="order-date" th:text="|${#temporals.format(order.orderDate, 'yyyy년 MM일 dd일')} 주문|" style="display: inline"></h5>
                    <h5 th:text="${order.orderStatus == 0}? '[결제대기중]'" style="display: inline"></h5>
                    <h5 th:text="${order.orderStatus == 1}? '[결제완료]'" style="display: inline"></h5>
                    <h5 th:text="${order.orderStatus == 2}? '[상품준비중]'" style="display: inline"></h5>
                    <h5 th:text="${order.orderStatus == 3}? '[배송중]'" style="display: inline"></h5>
                    <h5 th:text="${order.orderStatus == 4}? '[배송완료]'" style="display: inline"></h5>
                    <h5 th:text="${order.orderStatus == 5}? '[구매확정]'" style="display: inline"></h5>
                </div>
                <div class="col text-end">
                    <a class="btn btn-outline-info" th:href="@{|/member/order/${order.id}|}">주문 상세조회</a>
                </div>
            </div>
            <div class="card my-3 p-4" th:each="orderDetail : ${order.getOrderDetailDTOList()}">
                <div class="row">
                    <div class="col-auto">
                        <img th:src="${orderDetail.bookProfile}" width="80">
                    </div>
                    <div class="col">
                        <h5 th:text="${orderDetail.bookName}"></h5>
                        <p th:text="|${orderDetail.bookPrice} 원 · ${orderDetail.bookCount} 개|"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript" hidden>
</script>
</html>