<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<div th:fragment="nav" id="nav">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/book">책목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/bestseller">베스트셀러</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/new">신간목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="basketList_fn()">찜목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/csCenter">고객센터</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item" th:if="${session.loginEmail} == null">
                        <a class="nav-link" href="/member/save">회원가입</a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} == null">
                        <a class="nav-link" href="javascript:to_login()">로그인</a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} != null">
                        <a class="nav-link" href="/member/mypage" th:text="${session.loginEmail}"></a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} != null">
                        <a class="nav-link" href="/member/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script th:inline="javascript">
        const pathname = window.location.pathname;
        const url = window.location.pathname + window.location.search;
        const to_login = () => {
            if (pathname == "/member/save" || pathname == "/member/login") {
                location.href = "/member/login"
            } else {
                location.href = "/member/login?continued=" + url;
            }
        }


        const basketList_fn = () => {
            const memberEmail = [[${session.loginEmail}]];
            const loginCheck = [[${session.loginEmail}]]
            if (loginCheck == null) {
                alert("로그인 페이지로 이동합니다!")
                location.href = "/member/login";
            } else {
                location.href = "/basket/list";
            }

        }

    </script>

</div>
</body>
<script th:inline="javascript">

</script>
</html>