<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>

<div class="row m-5">
    <div class="col-3">
        <div th:replace="~{component/adminNav :: adminNav}"></div>
    </div>
    <div class="col">
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="/admin/category">
                <div class="input-group">
                    <select name="type" class="form-control">
                        <option value="categoryId">Id</option>
                        <option value="categoryName">이름</option>
                    </select>
                    <input name="q" class="form-control">
                    <button class="btn btn-primary">검색</button>
                </div>
                </form>
            </div>
        </div>
        <div class="text-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categorySave">등록</button>
        </div>
        <div class="modal fade" id="categorySave" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">책 카테고리 등록</h1>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Id</span>
                            <input class="form-control" name="categoryId">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">이름</span>
                            <input class="form-control" name="categoryName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" onclick="categorySave()">등록</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>이름</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr th:each="category : ${categoryList}">
                <td><input th:name="|categoryId${category.id}|" class="form-control" th:value="${category.categoryId}">
                </td>
                <td><input th:name="|categoryName${category.id}|" class="form-control"
                           th:value="${category.categoryName}"></td>
                <td>
                    <button class="btn btn-secondary" th:onclick="update_fn([[${category.id}]])">수정</button>
                </td>
                <td>
                    <button class="btn btn-danger" th:onclick="delete_fn([[${category.id}]])">삭제</button>
                </td>
            </tr>
        </table>
        <div class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <!--첫페이지 요청 링크 /board?page=1 -->
                    <a class="page-link" th:href="@{/admin/category(page=1, type=${type}, q=${q})}">
                        <span>First</span>
                    </a>
                </li>

                <li th:class="${categoryList.first} ? 'disabled'" class="page-item">
                    <!--boardList.first: isFirst()
                        boardList.number: getNumber()-->
                    <a class="page-link"
                       th:href="${categoryList.first} ? '#' : @{/admin/category(page=${categoryList.number}, type=${type}, q=${q})}">
                        <!-- 사용자 3페이지, number 2 /board?page=2 -->
                        <span><</span> <!-- < -->
                    </a>
                </li>

                <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할
                    for(int page=startPage; page<=endPage; page++) -->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="${page == categoryList.number + 1} ? 'page-item active'" class="page-item">
                    <a class="page-link" th:text="${page}"
                       th:href="@{/admin/category(page=${page}, type=${type}, q=${q})}"></a>
                </li>

                <!-- 다음 페이지 요청
                    현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
                    getNumber() 값은 2임.
                    따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
                <li th:class="${categoryList.last} ? 'disabled'">
                    <a class="page-link"
                       th:href="${categoryList.last} ? '#' : @{/admin/category(page=${categoryList.number + 2}, type=${type}, q=${q})}">
                        <!-- 사용자 3페이지, number 2 /board?page=4 -->
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/admin/category(page=${categoryList.totalPages}, type=${type}, q=${q})}">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const categorySave = () => {
        const categoryId = document.querySelector('[name="categoryId"]').value;
        const categoryName = document.querySelector('[name="categoryName"]').value;
        if (categoryId.length == 3) {
            if (categoryName.length != 0) {
                axios({
                    method: "post",
                    url: "/admin/category",
                    data: {
                        categoryId: categoryId,
                        categoryName: categoryName
                    }
                }).then(res => {
                    location.href = "/admin/category";
                }).catch(err => {
                    alert("등록실패");
                })
            } else {
                alert("이름을 입력하세요.")
                document.querySelector('[name="categoryName"]').focus();
            }
        } else {
            alert("id는 3자리입니다.")
            document.querySelector('[name="categoryId"]').focus();
        }
    }

    const update_fn = (id) => {
        const categoryId = document.querySelector('[name="categoryId' + id + '"]').value;
        const categoryName = document.querySelector('[name="categoryName' + id + '"]').value;
        if (confirm("해당 카테고리를 수정하시겠습니까?")) {
            if (categoryId.length == 3) {
                if (categoryName.length != 0) {
                    axios({
                        method: "put",
                        url: "/admin/category",
                        data: {
                            id: id,
                            categoryId: categoryId,
                            categoryName: categoryName
                        }
                    }).then(res => {
                        location.href = "/admin/category";
                    }).catch(err => {
                        alert("수정실패");
                    })
                } else {
                    alert("이름을 입력하세요.")
                    document.querySelector('[name="categoryName"]').focus();
                }
            } else {
                alert("id는 3자리입니다.")
                document.querySelector('[name="categoryId"]').focus();
            }
        }
    }
    const delete_fn = (id) => {
        if (confirm("해당 카테고리를 삭제하시겠습니까?")) {
            axios({
                method: "delete",
                url: "/admin/category",
                data: {
                    id: id
                }
            }).then(res => {
                location.href = "/admin/category";
            }).catch(err => {
                alert("삭제실패");
            })
        }
    }
</script>
</html>