<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>

<div th:fragment="orderAddress">
    <div class="row m-5">
        <div class="col">
            <div>
                <input type="button" class="form-control btn-outline-info" data-bs-toggle="modal" data-bs-target="#registerAddress">
            </div>
            <div class="card p-3" th:each="address : ${addressList}">
                <div th:text="|${address.addressName}|"></div>
                <div th:text="|${address.address} ${address.addressDetail}|"></div>
                <div th:text="${address.postCode}"></div>
                <div class="justify-content-between">
                    <div>
                        <button class="btn-outline-secondary">삭제</button>
                    </div>
                    <div>
                        <button class="btn-outline-info">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{memberPages/newAddress :: newAddress}"></div>

</body>
<script th:inline="javascript">

</script>
</html>
