<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5 justify-content-center">
    <div class="col-4">
        <div class="card p-3 mb-5">
            <img src="/images/best.png" onclick="bestPage()">
        </div>
    </div>
    <div class="col-4">
        <div class="card p-3 mb-5">
            <img src="/images/new.png" onclick="newPage()">
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const bestPage = () => {
        location.href = "/book/bestseller";
    }

    const newPage = () => {
        location.href = "/book/new";
    }
</script>
</html>