<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col p-5" th:width="1556px">
        <div class="row text-center">
            <div class="col-3 p-4" th:each="basket : ${basketList}">
                <div class="card ms-5" style="height: 400px; width: 270px" >
                    <a th:href="@{|/book/${basket.bookDTO.id}|}">
                    <img class="text-center" th:src="${basket.bookDTO.bookProfile}" style="height: 400px"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>

</body>
<script th:inline="javascript">

    const detail_fn = (bookId) => {
        axios({
            method:"post",
            url:"/book/detail/bookId",
        }).then(response => {

        }).catch(error => {

        });
    }

</script>
</html>