<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>

</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
<div class="row m-5">
    <div class="col">

        <div class="card">
            <div class="row" th:each="aladinBook: ${aladinSearch.item}">
                <div class="col">
                    <table class="table table-borderless">
                        <tr  style="display: none">
                            <td id="bookIsbn" th:text="${aladinBook.isbn}"></td>
                        </tr>
                        <tr width="120">
                            <td width="120" rowspan="5">
                                <img th:src="${aladinBook.cover}" width="120">
                            </td>
                        </tr>
                        <tr>
                            <td th:text="${aladinBook.title}"></td>
                        </tr>
                        <tr>
                            <td th:text="${aladinBook.author}"></td>
                        </tr>
                        <tr>
                            <td>
                                <span><del>[[${aladinBook.priceStandard}]]원</del></span><span class="mx-3">&rarr;</span><span th:text="|${aladinBook.priceSales}원|"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <!--첫페이지 요청 링크 /board?page=1 -->
                    <a class="page-link" th:href="@{/book/new(page=1)}">
                        <span>First</span>
                    </a>
                </li>
                <li th:class="${aladinSearch.startIndex == 1} ? 'disabled'" class="page-item">
                    <a class="page-link"
                       th:href="${aladinSearch.startIndex == 1} ? '#' : @{/book/new(page=${aladinSearch.startIndex - 1})}">
                        <span><</span> <!-- < -->
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="${page == aladinSearch.startIndex} ? 'page-item active'" class="page-item">
                    <a class="page-link" th:text="${page}"
                       th:href="@{/book/new(page=${page})}"></a>
                </li>
                <li th:class="${aladinSearch.startIndex == maxPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="${aladinSearch.startIndex == maxPages} ? '#' : @{/book/new(page=${aladinSearch.startIndex + 1})}">
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/book/new(page=${maxPages})}">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>

</body>
<script th:inline="javascript">
</script>
</html>